.cylinder-info {
  text-align: center;
}

.ToolTip {
  text-align: center;
  font-size: 1.5em;
}

.cylinder-info h1 {
  background-color: #1565c0;
  border-radius: 25px;
  color: white;
  text-align: center;
  margin: 0 auto; /* Center align */
  font-size: 3rem; /* Use rem for scalability */
  max-width: 90%; /* Limit the width */
  padding: 10px; /* Add some padding for better readability */
}

.cylinder-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center cards within the container */
}

.cylinder-card {
  background-color: #1565c0;
  border: 3px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: fit-content; /* Set max-width for better responsiveness */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow for depth */
}

.cylinder-card img {
  width: 100%; /* Make the image responsive */
  max-width: 275px; /* Maintain the original max width */
  height: auto;
  margin: 0 auto 10px auto; /* Center align */
  border: 1px solid black;
  border-radius: 25px;
  transition: transform 0.3s ease-out, box-shadow 0.25s;
}

.cylinder-card img:hover {
  box-shadow: black 0px 0px 10px 5px;
  transform: scale(.95);
  transition: transform 0.3s ease-out, box-shadow 0.25s;
}

.cylinder-card h2 {
  color: white;
  font-size: 2rem; /* Adjust for better scalability */
  margin-bottom: 10px;
  text-align: center; /* Center align the text */
}

.cylinder-card p {
  color: white;
  font-size: 1.25rem; /* Slightly smaller for better readability */
  text-align: center; /* Center align the text */
}

.cylinder-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.cylinder-table th,
.cylinder-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 1.5em;
}

.cylinder-table td {
  background-color: #ddd;
}

.cylinder-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}


@media screen and (max-width: 444px) {
  .cylinder-cards {
    flex-direction: column;
    gap: 10px; /* Reduce gap for smaller screens */
  }
  
  .cylinder-card {
    scale: 0.85;
  }

  .cylinder-table {
    max-width: 300px;
    font-size: 3vw;
  }

  .cylinder-info h1 {
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .cylinder-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Adjust gap for medium screens */
  }
}



@media screen and (max-width: 1024px) {
  .cylinder-cards {
    justify-content: center;
    gap: 20px; /* Restore original gap */
  }
}
